<!DOCTYPE html>
<html lang="en">
{% block content %}
{% include 'sub/head.html' %}



<body class="sb-nav-fixed">
    {% include 'sub/navbar.html' %}
    <div id="layoutSidenav">
        {% include 'sub/sidenav.html' %}
        <div id="layoutSidenav_content">
            <main>
                <ul>
                    {% if type == "Accounts"%}
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Overview</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">{{type}}</li>
                        </ol>
                        <div class="row">
                            {% for account in items %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{{account.bank}} : {{account.name}}</h5>
                                        <p class="card-text">Balance: </p>
                                        <a href="#" class="btn btn-primary">See transactions</a>
                                        <a href="#" class="btn btn-primary">Edit Account</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% elif type == "Categories"%}
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Overview <a href="{{ url_for('add_category') }}">+</a></h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">{{type}}</li>
                        </ol>
                        <div class="row">
                            {% for category in items %}
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{{category.name}}</h5>
                                        <p class="card-text">Balance: </p>
                                        <a href="#" class="btn btn-primary">See transactions</a>
                                        <a href="{{ url_for('edit_category', id=category.categoryid) }}"
                                            class="btn btn-primary">Edit Category</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                </ul>

            </main>
        </div>
</body>


{% endblock %}

</html>