<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="/index2">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    2. Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Operative</div>
                <!--accounts-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAccounts"
                    aria-expanded="false" aria-controls="collapseAccounts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Accounts
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseAccounts" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/accounts">Overview</a>
                        <a class="nav-link" href="/account/add">Add</a>
                    </nav>
                </div>
                <!--Categories-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCategories"
                    aria-expanded="false" aria-controls="#collapseCategories">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Categories
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseCategories" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/categories">Overview</a>
                        <a class="nav-link" href="/category/add">Add</a>
                    </nav>
                </div>
                <!--Transaction-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTransactions"
                    aria-expanded="false" aria-controls="#collapseTransactions">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Transactions
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseTransactions" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/transactions">Overview</a>
                        <a class="nav-link" href="/transaction/add">Add</a>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Budget</div>
                <!--Budget-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCategories"
                    aria-expanded="false" aria-controls="#collapseCategories">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Budget
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseCategories" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/categories">Overview</a>
                        <a class="nav-link" href="/category/add">Add</a>
                    </nav>
                </div>
                <!--BudgetEntry-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTransactions"
                    aria-expanded="false" aria-controls="#collapseTransactions">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    BudgetEntry
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseTransactions" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/transactions">Overview</a>
                        <a class="nav-link" href="/transaction/add">Add</a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>